* {
    box-sizing: border-box;
    margin: 0;
}
header{
    width:100%;
}
@keyframes fadeIn{
    0%{opacity:0;transform:translateY(20px)}
    100%{opacity: 1 ; transform:translateY(0)}
}
.hero{
    animation: fadeIn 1s ease forwards;
    display:flex;
    justify-content: center;
    align-items: center; 
    width:100%;
    height:100vh;
        font-family: Impact, "Arial Black", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #ff1d1d;

  /* White outline */
  -webkit-text-stroke: 4px white;

  /* Shadow */
  text-shadow:
    4px 4px 0 rgba(0, 0, 0, 0.15);

  /* Small spacing */
  letter-spacing: 2px;
}
header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:1rem;
    width:100%;
    border-bottom: solid 1px #F0FFF2;
    padding: 5px;
    font-size: .8rem;
    
}
nav{
    display:flex;
    justify-content: space-between;
    width:30%;

}
nav a{
    text-decoration: none;
    color: #F0FFF2;
}


header img{
    width: 80px;
    object-fit: cover;
    border: 4px solid #F8E948;
    border-radius: 20px;

    box-shadow: 0 8px 20px rgba(80, 50, 70, 0.15);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.spin{
    animation: spin .8s infinite linear;
    animation-delay: 500ms;
}

.aboutme{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    animation: fadeIn 1s ease forwards;
    
}
.card-img {
    background-color: #807BD1;
    border-radius: 40px 0 0 40px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50%;
}

.card-img img {
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
}

.card-text{
 /* display:flex; */
  animation: fadeIn 1s linear forwards;
background-color: #ff7b8b;
    border-radius: 40px;
    padding: 2rem;
    min-height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: center;
    border-radius: 0 40px 40px 0;
}
@keyframes slideIn {
  from {
    transform: translateX(-20px);
  }

  to {
    transform: translateX(0);
  }
}

.card-text h2 {
    color: white;
    font-size: 1.5rem;
    margin: 0;
    animation: slideIn .9s ease forwards;
}

.card-text p {
    color: white;
    font-size: 1.1rem;
    margin: 0;
}

body{
    font-size: 1.3rem;
    font-family: sans-serif;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1B9EE7;
    color: #F0FFF2;
    width:100%;
    
}
/* lab2 */
h2, p{
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    color:rgb(255, 221, 0);
    line-height: normal;
}

main{
    width:100%;
    height:100%;
    text-align: center;
}

ul{
    text-align: left;
}

.note{
    color:blue;
}

#main-note{
    color:blueviolet;
}

#main-note:hover{

    color:palevioletred;
}
/* lab3 */
form{
    width:100%;
    border:  thick double #664ca8;
    max-width:500px;
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
input,select, textarea{
    width:90%;
    padding: 12px;
    margin: 10px 0;
}

.ch{
    width:10%;
    margin:0;
    padding:0;
    
}


.checkbox{
    text-align: left;
    padding-left: 1.8rem;
}
button{
    padding: 10px 32px;
    margin:2rem;
    cursor:pointer;
    background-color: #664ca8;
    color: #F0FFF2;
    transition: transform .25s ease, background .25s ease;
    
}

button:hover,button:focus{
    transform: translateY(-4px);
    background: #ff7b8b;
    animation-delay: 5s;
}


@media (max-width:768px){
    .aboutme {
        grid-template-columns: 1fr;
    }
    nav{
        flex-direction: column;
    }
}