
{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<h1>Register</h1>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

<form method="POST">

    {% csrf_token %}

    <label>Username:</label>
    <input type="text" name="username" required>

    <br><br>

    <label>Email:</label>
    <input type="email" name="email" required>

    <br><br>

    <label>Password:</label>
    <input type="password" name="password" required>

    <br><br>

    <button type="submit">
        Register
    </button>

</form>

<br>

<a href="{% url 'login' %}">
    Already registered? Login
</a>

{% endblock %}

